.facebook{
    color: blue;
    margin-left: 15px;
    margin-right: 15px;
    padding: 15px;
    border-radius: 5px;
    background-color: rgba(14, 14, 14, 0.234);
}

.google{
    color: blue;
    margin-left: 15px;
    margin-right: 15px;
    padding: 15px;
    border-radius: 5px;
    font-size: 30px;
    background-color: rgb(253, 253, 253);
    box-shadow: 5px 5px 10px black;
}

